<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./../assets/images/app_logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./../assets/styles/global.css" />
    <title>CONSULTA BRASIL</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img class="logo-sm" src="./../assets/images/app_logo.png" />
      </header>
      <section style="width: 100%">
        <h1 class="text-yellow">Consultoria Financeira: Como funciona e por quê Contratar</h1>
        <p class="text-center" style="width: 50%">
          Uma consultoria financeira consiste em ajudar o cliente a organizar as
          finanças, além de tomar decisões mais assertivas em relação ao próprio
          dinheiro. Nela, você pode, com o consultor financeiro, avaliar a
          situação das suas finanças, bem como da família e da empresa. Com
          isso, é possível buscar melhorias para ajudar nas finanças, traçar
          estratégias para, dependendo do momento em que você se encontra,
          alcançar metas, organizar a vida financeira ou também traçar as
          melhores estratégias para investir melhor. Por isso, antes de escolher
          fazer uma consultoria financeira, entenda em qual momento financeiro
          você se encontra para que, assim, haja total transparência e
          alinhamento com o consultor financeiro. Dessa forma, ele será possível
          buscar a estratégia que mais faz sentido para você no momento, além de
          entender até que nível de satisfação você pode chegar.
        </p>
        <br />
        <div>
            <div class="rescue text-center">
                <a
                  onclick="window.location='#'"
                >
                  <button class="btn bg-green btn-rescue" type="button">
                    EU QUERO UMA CONSULTORIA AGORA!
                  </button>
                </a>
              </div>
        </div>
        <br>
        <h1 class="text-yellow">Como funciona uma consultoria financeira?</h1>
        <p class="text-center" style="width: 50%;"">
          Tão importante quanto saber o que é uma consultoria financeira, é
          saber também como ela funciona. Afinal, a partir disso é que será
          possível entender quais os benefícios que esse serviço pode trazer
          para você. De maneira geral, o primeiro passo dado para realizar uma
          consultoria financeira, é fazer, junto com uma pessoa especializada,
          um diagnóstico financeiro. Esse diagnóstico consiste em saber mais
          sobre o quanto você ganha, o quanto gasta, se tem dívidas e muito
          mais. A partir dele, será possível ao consultor financeiro entender
          melhor em qual momento financeiro você se encontra, quais os seus
          objetivos e quais as melhores formas e estratégias possíveis para te
          ajudar.
        </p>
        <br>
        <h1 class="text-yellow">Quando buscar uma consultoria financeira?
        </h1>
        <p class="text-center" style="width: 50%;"">
            Se você sente que precisa de planos mais objetivos, estratégias mais eficazes para otimizar as finanças ou, até mesmo, os investimentos, essa pode ser a hora exata de buscar uma consultoria financeira.

            Isso, porque esse tipo de serviço pode te auxiliar, logo após entender quais os seus objetivos iniciais, a criar estratégias detalhadas e personalizadas, para que você se adeque a elas e então tudo vá fluindo na sua vida financeira.
            
            Por outro lado, se você ainda tem dúvidas de quando fazer essa busca a <span class="text-yellow"><b>Consulta Brasil</b></span> te ajuda nisso!
        </p>
        <br>
        <h1 class="text-yellow">Como a <b style="color: #00ff1a;">Consulta Brasil</b> pode me ajudar?

        </h1>
        <p class="text-center" style="width: 50%;"">
            Com a Consultoria Financeira da <span class="text-yellow"><b>Consulta Brasil</b></span>, por exemplo, é possível ao cliente optar por duas opções:
<br>
<ul class="text-center" style="width: 50%;">
    <li>
        <h1 class="text-yellow">Consultoria de 3 meses</h1>
        Neste caso, o cliente vai ter 4 reuniões com o especialista e ele vai montar toda a estratégia de investimentos ou de orçamento, tudo com base no objetivo de cada cliente. Com isso, ao fim dos 3 meses, é esperado que o cliente possa andar sozinho, com conhecimentos sólidos, mas com a possibilidade de contratar reuniões avulsas.
    </li>
    <br>
    <li>
        <h1 class="text-yellow">Consultoria de 12 meses</h1>
         Neste período de tempo, nos 3 primeiros meses o cliente e o especialista se reúnem em 4 reuniões. Após esse período, as reuniões passam a ser trimestrais, contabilizando 7 ao todo, com todo o foco em montar sua estratégia de investimentos ou orçamento. Além disso, após o fim, é possível renovar a consultoria.
    </li>
</ul>
<p class="text-center" style="width: 50%;">
    Dessa forma, assim como falado anteriormente, será possível entender bem quais os seus objetivos ao contratar a consultoria, além de saber quais os seus sonhos, qual a sua relação com o dinheiro e como estão os seus investimentos, caso já possua aplicações.</p>
</p>
<br>
        <div style="display: flex; justify-content: center">
          <div
            class="text-center tax box content"
            style="width: 25%; margin: 1%"
          >
          <i class="fa-solid fa-money-bill-trend-up text-yellow" style="font-size:50px"></i>
            <h1>Aprenda a construir renda</h1>
          </div>
          <div
            class="text-center tax box content"
            style="width: 25%; margin: 1%"
          >
          <i class="fa-solid fa-face-smile-beam text-yellow" style="font-size:50px"></i>
            <h1>Dinheiro não vira um problema</h1>
          </div>
          <div
            class="text-center tax box content"
            style="width: 25%; margin: 1%"
          >
          <i class="fa-solid fa-plus text-yellow" style="font-size:50px"></i>
            <h1>E muito mais!</h1>
          </div>
        </div>
        <div style="margin-top: 5%;">
            <div class="rescue text-center">
                <a
                  onclick="window.location='#'"
                >
                  <button class="btn bg-green btn-rescue" type="button">
                    EU QUERO UMA CONSULTORIA AGORA!
                  </button>
                </a>
              </div>
        </div>
      </section>
      <footer class="text-center" style="width: 50%; padding: 1%; color: gray; opacity: 0.8;">
        <p style="margin: 5% 0;">Atenção! Esse site não faz parte do Facebook ou da Meta Inc. <br>
        A Consulta Brasil é uma empresa a parte.
        <br><br>
        Copyright 2023, Consulta Brasil - Todos os dinheiros reservados.
        </p>
      </footer>
    </div>
  </body>
</html>
